@model TataApp.Domain.Time

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Time</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Activity.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRegistered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRegistered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReported)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReported)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TimeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
